<ion-view view-title="Código Manual Ticket">
  	<ion-content>
    	
        <form name="formulario" id="formulario">
    		<div class="list list-inset center-text">
      			<label class="item item-divider">
        			Ingrese los Datos de Forma Manual
      			</label>
    		</div>

        	<div class="list list-inset">
      			<label class="item ion-pricetags item-divider">
        			Ticket
      			</label>
      			<label class="item item-input">
        			<input type="number" placeholder="Número de Ticket" id="id_ticket" name="number_ticket" ng-model="formData.number_ticket" pattern="[0-9]*" required>
      			</label>
    		</div>

            <div class="button-enviar">
                <button class="button button-positive" type="submit" value="Siguiente" ng-disabled="formulario.$invalid" ng-click="siguiente(formData)">
                    Siguiente
                </button>
            </div>
        </form>
      
  	</ion-content>
</ion-view>