<ion-view view-title="Alenca Security">
  <ion-content class="content-app">
    <button class="button" ng-click="scanBarcode()">Scaner</button>
		
	    <div class="center">
		    <div class="trans trans-full trans-bottom-inverse  trans-size2 "></div>
		    <div class="trans trans-left trans-size1"></div>
		    <div class="trans trans-right trans-size2"></div>
		    <div class="trans trans-top trans-size3"></div>
		    <div class="trans trans-bottom trans-size4"></div>

		    <div class="button-qr">
		      <img src="http://i.imgur.com/AYcVJdK.png" width="200" height="200" />
		    </div>

  		</div>

  </ion-content>
</ion-view>
