<ion-view view-title="Parking Beach">
  <ion-content class="content-app">
	
	<div class="list list-inset">
        <label class="item ion-pricetag item-divider">
            Ticket <i class="ion-pound"> {{ticket[0].Codigo}}</i>
        </label>
        <label class="item" ng-click="openModal()">
            <div class="code-img-ticket">
                <img ng-src="{{url_fotos}}{{ ticket[0].Foto }}">
            </div>
        </label>
    </div>

    <div class="card">
  		<div class="item item-text-wrap">
    		<i class="ion-qr-scanner"></i> Presiona el Boton para Escanear la Factura.
  		</div>
	</div>

    <div class="button-factura">

	    <button class="button button-qr" ng-click="scanBarcode()">
	      <img src="img/qr-scanner.png" width="100" height="100" />
	    </button>
	    
	</div>

  </ion-content>
</ion-view>
