<ion-view view-title="Resultado Manual">
  <ion-content>

    <div class="card">
        
        <div class="item item-divider ion-pricetag">
            Ticket
        </div>
        
        <div class="item item-text-wrap ion-pound">
            Número de Ticket: {{ticket_consulta_manual[0].Codigo}}
        </div>

        <label class="item" ng-click="openModal()">
            <div class="code-img-ticket">
                <img ng-src="{{ ticket_consulta_manual[0].Foto }}">
            </div>
        </label>
  
    </div>

    <div class="card">
        
        <div class="item item-divider ion-pricetag">
            Factura
        </div>

        <div class="item item-text-wrap ion-pound">
            Número de Factura: {{factura_consulta_manual[0].Ticket}}
        </div>
  
    </div>
    
    <div class="button-enviar">
    	<button class="button button-assertive" ng-click="asociar(factura_consulta[0].Ticket, ticket_consulta[0].Codigo)">
    		Asociar
    	</button>
    </div>

  </ion-content>
</ion-view>