<ion-view view-title="Resultado">
  <ion-content>

    <div class="list list-inset">
        <label class="item ion-pricetag item-divider">
            Ticket <i class="ion-pound"> {{ticket[0].Codigo}}</i>
        </label>
        <label class="item" ng-click="openModal()">
            <div class="code-img-ticket">
                <img ng-src="{{url_fotos}}{{ ticket[0].Foto }}">
            </div>
        </label>
        <div class="item item-text-wrap">
            Formato: {{ticket_scanner.format}}
        </div>
    </div>

    <div class="card">
        
        <div class="item ion-pricetag item-divider">
            Factura
        </div>
        
        <div class="item item-text-wrap">
            Información: {{factura_scanner.text}}
        </div>

        <div class="item item-text-wrap">
            Formato: {{factura_scanner.format}}
        </div>
  
    </div>
    
    <div class="button-enviar">
    	<button class="button button-assertive" ng-click="asociar()">
    		Asociar
    	</button>
    </div>

  </ion-content>
</ion-view>