<ion-view view-title="Resultado">
  <ion-content>

    <div class="card">
        
        <div class="item item-divider">
            Ticket
        </div>
        
        <div class="item item-text-wrap">
            Información: {{ticket.text}}
        </div>

        <div class="item item-text-wrap">
            Formato: {{ticket.format}}
        </div>
  
    </div>

    <div class="card">
        
        <div class="item item-divider">
            Factura
        </div>
        
        <div class="item item-text-wrap">
            Información: {{factura.text}}
        </div>

        <div class="item item-text-wrap">
            Formato: {{factura.format}}
        </div>
  
    </div>
    
    <div class="button-enviar">
    	<button class="button button-assertive" ng-click="enviar()">
    		Enviar
    	</button>
    </div>

  </ion-content>
</ion-view>